<?php
/**
 * @var FormViewInterface $this
 */

use Airhead\Wanda\View\Config\ContentType\FormViewInterface;

assert($this instanceof FormViewInterface);
?>
<?=$this->getValidation()?>
<form role="form" id="article-form" method="post" novalidate="novalidate">
    <div class="row">
        <div class="col-lg-4">
            <section class="widget">
                <header>
                    <h4>Type information <small>basic doo-dah</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-transparent" id="name" name="name"
                                        value="<?=$this->getContentTypeName()?>"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="code" class="col-sm-3 control-label">Code</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-transparent" id="code" name="code"
                                           value="<?=$this->getContentTypeCode()?>"
                                    >
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h4>Default <small>elements that should be visible</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <input type="checkbox" id="def-title" name="default[title]" value="1"
                                           <?=($this->isDefaultChecked('title') === true) ? ' checked' : ''?>
                                    >
                                    <label class="checkbox" for="def-title">
                                        Title
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <input type="checkbox" id="def-sub-title" name="default[sub_title]" value="1"
                                        <?=($this->isDefaultChecked('sub_title') === true) ? ' checked' : ''?>
                                    >
                                    <label class="checkbox" for="def-sub-title">
                                        Sub title
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <input type="checkbox" id="def-menu-title" name="default[menu_title]" value="1"
                                        <?=($this->isDefaultChecked('menu_title') === true) ? ' checked' : ''?>
                                    >
                                    <label class="checkbox" for="def-menu-title">
                                        Menu title
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <input type="checkbox" id="def-body" name="default[body]" value="1"
                                        <?=($this->isDefaultChecked('body') === true) ? ' checked' : ''?>
                                    >
                                    <label class="checkbox" for="def-body">
                                        Content
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <input type="checkbox" id="def-preview" name="default[preview]" value="1"
                                        <?=($this->isDefaultChecked('preview') === true) ? ' checked' : ''?>
                                    >
                                    <label class="checkbox" for="def-preview">
                                        Description
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a href="<?=$this->getOverviewUrl()?>" class="btn btn-default">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-8">
            <section class="widget">
                <header>
                    <h4>Extra <small>fields we would like to add</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <div id="input-target" class="row">
                            <?php foreach ($this->getExtraFields() as $index => $extraField) : ?>
                                <div class="col-md-6 field-container">
                                    <div class="well">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="extra-label-<?=$index?>" class="col-sm-3 control-label">
                                                    Label
                                                </label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control input-transparent"
                                                           id="extra-label-<?=$index?>"
                                                           name="extra[<?=$index?>][label]"
                                                           value="<?=$extraField->label?>"
                                                    >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="extra-name-<?=$index?>" class="col-sm-3 control-label">
                                                    Input name
                                                </label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control input-transparent"
                                                           id="extra-name-<?=$index?>"
                                                           name="extra[<?=$index?>][name]"
                                                           value="<?=$extraField->name?>"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="extra-<?=$index?>-req"
                                                           name="extra[<?=$index?>][required]" value="1"
                                                           <?=(isset($extraField->required) === true) ? 'checked' : ''?>
                                                    >
                                                    <label class="checkbox" for="extra-<?=$index?>-req">
                                                        Required
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-toolbar">
                                            <button class="btn btn-danger remove-input">Remove field</button>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </fieldset>
                    <div class="btn-toolbar">
                        <button type="button" id="add-input" class="btn btn-info">Add field</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>

<div id="form-input-template" class="hidden">
    <div class="col-md-6 field-container">
        <div class="well">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="extra-label-##count##" class="col-sm-3 control-label">Label</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-transparent" id="extra-label-##count##" name="extra[##count##][label]">
                    </div>
                </div>
                <div class="form-group">
                    <label for="extra-name-##count##" class="col-sm-3 control-label">Input name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-transparent" id="extra-name-##count##" name="extra[##count##][name]">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <input type="checkbox" id="extra-##count##-req" name="extra[##count##][required]" value="1">
                        <label class="checkbox" for="extra-##count##-req">
                            Required
                        </label>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar">
                <button class="btn btn-danger remove-input">Remove field</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var counter = <?=count($this->getExtraFields())?>;
    $('#add-input').on('click', function(){
        counter++;
        $('#input-target').append($('#form-input-template').html().replace(/##count##/g, counter));
    });
    $(document.body).on('click', '.remove-input' ,function(){
        $(this).closest('.field-container').remove();
    });
</script>