<?php
/**
 * @var OverviewViewInterface $this
 */

use Airhead\Wanda\View\Config\ContentType\OverviewViewInterface;

assert($this instanceof OverviewViewInterface);
?>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <div class="actions">
                    <a class="btn btn-xs btn-success" href="<?=$this->getAddContentTypeUrl()?>">
                        <i class="glyphicon glyphicon-plus"></i> Add content type
                    </a>
                </div>
            </header>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="hidden-xs">ID</th>
                            <th>Name</th>
                            <th class="width-150"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <?=$this->getContentTypeRows()?>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>