<?php
/**
 * @var TableRowViewInterface|OverviewActionInterface $this
 */
use Airhead\Wanda\View\Config\ContentType\TableRowViewInterface;
use Airhead\Wanda\View\OverviewActionInterface;

assert($this instanceof TableRowViewInterface);
assert($this instanceof OverviewActionInterface);
?>
<tr>
    <td class="hidden-xs"><?=$this->getContentTypeId()?></td>
    <td><?=$this->getContentTypeName()?></td>
    <td class="width-150">
        <a href="<?=$this->getEditUrl()?>" class="btn btn-primary btn-xs pjax-action"><span class="fa fa-pencil"></span></a>
        <a data-href="<?=$this->getDeleteUrl()?>" class="btn btn-danger btn-xs"
           data-toggle="modal" data-target="#confirm-delete"
        >
            <span class="fa fa-trash"></span>
        </a>
    </td>
</tr>