<?php
/**
 * @var FormViewInterface $this
 */
use Airhead\Wanda\View\Module\Agenda\FormViewInterface;

assert($this instanceof FormViewInterface);
?>
<div class="row">
    <div class="col-lg-4">
        <section class="widget">
            <header>
                <h4>School gegevens <small>wel benaderbaar blijven</small></h4>
            </header>
            <div class="body">
                <fieldset>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">School</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getContactSchool()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Adres</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getContactSchoolAddress()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Email</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getContactSchoolEmail()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Telefoon</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getContactSchoolPhone()?>"
                                >
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
        <section class="widget">
            <header>
                <h4>Contact gegevens <small>wel benaderbaar blijven</small></h4>
            </header>
            <div class="body">
                <fieldset>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Contact persoon</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getContactName()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Email</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getContactEmail()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Telefoon</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getContactPhone()?>"
                                >
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </div>
    <div class="col-lg-4">
        <section class="widget">
            <header>
                <h4>Inhoud <small>hoeveel en wanneer</small></h4>
            </header>
            <div class="body">
                <fieldset>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Volwassenen</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getGroupAdults()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Koffie / Thee voor de volwassenen</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=($this->getGroupConsume() === true) ? 'Ja' : 'Nee'?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Kinderen</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getGroupChildren()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Groep</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getGroupClass()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Tijd aankomst</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getTimeArrive()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Tijd Vertrek</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-transparent" readonly="readonly"
                                       value="<?=$this->getTimeDepart()?>"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Opmerkingen</div>
                            <div class="col-sm-9">
                                <textarea class="form-control input-transparent" readonly="readonly"><?=$this->getExtraInformation()?></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </div>
    <div class="col-lg-4">
        <form role="form" id="article-form" method="post" novalidate="novalidate">
            <section class="widget">
                <header>
                    <h4>Vrijwilligers <small>controleren en goedkeuren</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Vrijwilligers</div>
                            <div class="col-sm-9">
                                <?=$this->getVolunteers()?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <?php if ($this->isConfirmed() === false) : ?>
                                    <div class="checkbox">
                                        <input type="checkbox" id="confirmed" name="confirmed" value="1">
                                        <label class="checkbox" for="confirmed">
                                            Goedkeuren
                                        </label>
                                    </div>
                                <?php else : ?>
                                    <div style="margin-top:15px;">
                                        <span class="fa fa-check text-success"></span> Goedgekeurd
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <?php if ($this->isConfirmed() === false) : ?>
                                        <button type="submit" class="btn btn-success">Opslaan</button>
                                    <?php endif; ?>
                                    <a href="<?=$this->getOverviewUrl()?>" class="btn btn-default">Terug</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>