<?php
/**
 * @var OverviewViewInterface $this
 */

use Airhead\Wanda\View\Module\Agenda\OverviewViewInterface;

assert($this instanceof OverviewViewInterface);
?>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Datum</th>
                            <th>School</th>
                            <th>Aantal personen</th>
                            <th class="text-center">Goedgekeurd</th>
                            <th class="width-150"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?=$this->getAgendaItemRows()?>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
