<?php
/**
 * @var TableRowViewInterface|OverviewActionInterface $this
 */
use Airhead\Wanda\View\OverviewActionInterface;
use Airhead\Wanda\View\Module\Agenda\TableRowViewInterface;

assert($this instanceof TableRowViewInterface);
assert($this instanceof OverviewActionInterface);
?>
<tr>
    <td><?=$this->getDatum()?></td>
    <td><?=$this->getSchool()?></td>
    <td><?=$this->getAmountOfVisitors()?></td>
    <td class="text-center">
        <?php if ($this->isConfirmed() === true) : ?>
            <span class="fa fa-check text-success"></span>
        <?php else : ?>
            <span class="fa fa-times text-danger"></span>
        <?php endif; ?>
    </td>
    <td class="width-150">
        <a href="<?=$this->getEditUrl()?>" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span></a>
    </td>
</tr>