<?php
/**
 * @var DashboardContentViewInterface $this
 */
use Airhead\Wanda\View\DashboardContentViewInterface;

assert($this instanceof DashboardContentViewInterface);
?>
<div class="row">
    <div class="col-lg-8">
        <section class="widget">
            <header>
                <h4>
                    Handleiding
                    <small>
                        Even een handje helpen?
                    </small>
                </h4>
            </header>
            <div class="body">
                <div class="panel-group" id="accordion2">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                <strong>Aanmeldingen beheren</strong> | Modules > Aanmeldingen
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse in collapse" style="height: auto;">
                            <div class="panel-body">
                                <p>
                                    Hier kun je alle aanmeldingen die door scholen zijn gemaakt controleren en bevestigen.<br />
                                    Voor het bevestigen klik je vanuit het overzicht op het potloodje (<span class="fa fa-pencil"></span>).<br />
                                    Je komt dan op een pagina uit met alle informatie voor deze aanmelding.<br />
                                    Indien deze informatie voldoende is om de groep aan te nemen, klik je de checkbox "Goedkeuren" aan en druk je op "Opslaan".<br />
                                    Het systeem zal vervolgens een mail sturen naar de school en naar de aangegeven vrijwilligers met een laatste bevestiging.
                                </p>
                                <p>
                                    Het weigeren van een school is momenteel nog niet aanwezig.<br />
                                    Hiervoor zal een extra knop komen die er tevens ook voorzal zorgen dat de betreffende datum weer
                                    beschikbaar zal zijn voor andere scholen om op aan te melden.<br />
                                    Wil je een school weigeren, zul je voorlopig zelf nog even een mailtje moeten sturen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                <strong>Calender beheren</strong> | Modules > Calender
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Hier heb je de mogelijkheid om data open te zetten voor de scholen.<br />
                                    Dit doe je door een datum te selecteren en hier vrijwilligers bij aan te vinken.<br />
                                    Door op opslaan te klikken, kun je de selectie bevestigen en zal de datum beschikbaar worden voor de scholen.
                                </p>
                                <p>
                                    Wil je een datum toch verwijderen door ziekte of andere omstandigheden,
                                    kun je de dag selecteren en de vrijwilligers uitvinken.<br />
                                    Wanneer het systeem ziet dat er geen vrijwilligers over zijn voor een dag,
                                    zal deze de dag uit het systeem verwijderen en kunnen scholen hier niet meer op aanmelden.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                <strong>Vrijwilligers beheren</strong> | Modules > Vrijwilligers
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Niet geheel onbelangrijk is natuurlijk je vrijwilligers bij houden.<br />
                                    Hier kun je een overzicht van alle school-vrijwilligers zien en toevoegen/aanpassen/verwijderen.
                                </p>
                                <p>
                                    De informatie van de vrijwilligers gebruikt het systeem om automatische mails te versturen bij het bevestigen van een aanmelding.<br />
                                    De voorkeursdagen komen terug bij het inplannen van de beschikbare dagen.<br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-4">
        <section class="widget">
            <header>
                <h4>
                    Help!
                    <small>
                        Even vragen
                    </small>
                </h4>
            </header>
            <div class="body">
                <p>
                    In geval van problemen of onduidelijkheid over het systeem, kun je altijd via de mail om hulp vragen.<br />
                    Stuur een mailtje naar <a href="mailto:info@engineer-airhead.com">info@engineer-airhead.com</a> met als onderwerp <strong>Ijzertijd planner tool</strong>.<br />
                    Ik zal dan binnen 2 werkdagen antwoorden.
                </p>
            </div>
        </section>
    </div>
</div>

<!-- page specific scripts -->
<!-- page libs -->
<script src="public/lib/slimScroll/jquery.slimscroll.min.js"></script>
<script src="public/lib/jquery.sparkline/index.js"></script>

<script src="public/lib/backbone/backbone.js"></script>
<script src="public/lib/backbone.localStorage/backbone.localStorage-min.js"></script>

<script src="public/lib/d3/d3.min.js"></script>
<script src="public/lib/nvd3/build/nv.d3.min.js"></script>

<!-- page application js -->
<script src="public/js/index.js"></script>
<script src="public/js/chat.js"></script>

<!-- page template -->
<script type="text/template" id="message-template">
    <div class="sender pull-left">
        <div class="icon">
            <img src="public/img/2.png" class="img-circle" alt="">
        </div>
        <div class="time">
            just now
        </div>
    </div>
    <div class="chat-message-body">
        <span class="arrow"></span>
        <div class="sender"><a href="#">Tikhon Laninga</a></div>
        <div class="text">
            <%- text %>
        </div>
    </div>
</script>