<?php
/**
 * @var DashboardViewInterface $this
 */
use Airhead\Wanda\View\DashboardViewInterface;

assert($this instanceof DashboardViewInterface);
?>
<div class="logo">
    <img src="public/img/vicky_logo.png" style="max-height:50px;" class="pull-left">
    <h4 style="line-height:2.1;"><a href="">Vicky <strong>CMS</strong></a></h4>
</div>
<?=$this->getLeftNavView()?>
<div class="wrap">
    <?=$this->getTopNavView()?>
    <div class="content container">
        <h2 class="page-title">
            <?=$this->getContentViewTitle()?> <small><?=$this->getContentViewSubTitle()?></small>
        </h2>
        <?=$this->getNotificationFlashMessage()?>

        <?=$this->getContentView()?>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Weet je het zeker?</h2>
            </div>
            <div class="modal-body">
                Ik kan dit niet ongedaan maken!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nee, toch niet</button>
                <a class="btn btn-danger btn-ok">Ja, ik weet het zeker</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>