<?php
/**
 * @var PageViewInterface $this
 */
use Airhead\Wanda\View\PageViewInterface;

assert($this instanceof PageViewInterface);
?>
<!DOCTYPE html>
<html>
<head>
    <title>Vicky - Engineer Airhead's CMS</title>

    <base href="<?=$this->getBaseUrl()?>" target="_self">

    <link href="public/lib/summernote/dist/summernote.css" rel="stylesheet">
    <link href="public/css/application.css" rel="stylesheet">
    <link rel="shortcut icon" href="public/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vicky CMS">
    <meta name="author" content="Engineer Airhead">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
    <!-- common libraries. required for every page-->
    <script src="public/lib/jquery/dist/jquery.min.js"></script>
    <script src="public/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="public/lib/widgster/widgster.js"></script>
    <script src="public/lib/underscore/underscore.js"></script>

    <!-- common application js -->
    <script src="public/js/app.js"></script>
    <script src="public/js/settings.js"></script>
</head>
<body>
<?=$this->getContent()?>

<!-- common templates -->
<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-sm">Auto</button>
    <% } %>
</script>

</body>
</html>