<?php
/**
 * @var SchoolConfirmationViewInterface $this
 */
use Airhead\Wanda\View\Email\SchoolConfirmationViewInterface;
assert($this instanceof SchoolConfirmationViewInterface);
?>
Beste mevrouw/meneer,<br />
Het verheugt ons u te kunnen melden dat uw aanvraag voor bezoek aan de IJzertijdboerderij nu
definitief is vastgelegd op <?=$this->getDate('d-m-Y')?>.<br />
<br />
Gelieve gepast geld mee te brengen: € 3 per leerling en € 1 p.p. voor koffie of thee voor de
leerkracht (en) en ouders (indien aangevraagd).<br />
Andere dan contante betaling is momenteel nog niet mogelijk.<br />
<br />
Auto’s of fietsen kunt u bij de IJzertijdboerderij parkeren. Gelieve dit aan de kant van de weg te
doen, zodat de weg bereikbaar blijft.<br />
<br />
Vraagt u de kinderen kleren en schoenen aan te doen die vies mogen worden en let u (in het
voorjaar en de herfst) op warme kleding: de activiteiten zijn grotendeels buiten.<br />
<br />
Wij stellen het op prijs als de de leerkracht(en) en de ouders de activiteiten van de leerlingen
meevolgen en ons meehelpen in het begeleiden van de leerlingen.<br />
<br/>
Mocht u vooraf nog vragen hebben kunt u met ons contact opnemen via planning@ijzertijdboerderij.nl
Houdt u er rekening mee dat we op de dag zelf vooraf niet bereikbaar zijn.<br />
<br />
Onderstaand nog eenmaal de gegevens voor uw bezoek.<br />
<br />
<strong>Naam school:</strong> <?=$this->getContactSchool()?><br />
<strong>Adres school:</strong> <?=$this->getContactSchoolAddress()?><br />
<strong>Telefoon school:</strong> <?=$this->getContactSchoolPhone()?><br />
<strong>E-mail school:</strong> <?=$this->getContactSchoolEmail()?><br />
<br />
<strong>Contact persoon:</strong> <?=$this->getContactName()?><br />
<strong>Telefoon nummer:</strong> <?=$this->getContactPhone()?><br />
<strong>Email adres:</strong> <?=$this->getContactEmail()?><br />
<br />
<strong>Schoolgroep:</strong> <?=$this->getGroupClass()?><br />
<strong>Aantal leerlingen:</strong> <?=$this->getGroupChildren()?><br />
<strong>Aantal volwassenen:</strong> <?=$this->getGroupAdults()?><br />
<strong>Koffie / Thee voor volwassenen:</strong> <?=($this->getGroupConsume() === true) ? 'Ja' : 'Nee'?><br />
<br />
<strong>Gewenste datum voor bezoek:</strong> <?=$this->getDate('d-m-y')?><br />
<strong>Tijdstip aankomst:</strong> <?=$this->getTimeArrive()?><br />
<strong>Tijdstip vertrek:</strong> <?=$this->getTimeDepart()?><br />
<br />
<strong>Extra opmerkingen:</strong><br />
<?=$this->getExtraInformation()?>