<?php
/**
 * @var ModuleAgendaViewInterface $this
 */
use Airhead\Cosmo\View\Email\ModuleAgendaViewInterface;
assert($this instanceof ModuleAgendaViewInterface);
?>
Geachte mevrouw/meneer,<br /><br />

Dank voor uw aanmelding voor schoolbezoek aan de IJzertijdboerderij te Dongen.<br />
Onderstaand vindt u de gegevens zoals door u gemeld. Uw aanmelding wordt door ons bekeken.<br />
Zodra uw aanmelding is goedgekeurd ontvangt u van ons een definitieve bevestiging van uw bezoek.<br />
Daarin staan ook praktische afspraken over uw bezoek.<br />
<br />
<h4>Uw gegevens</h4>
<strong>Naam school:</strong> <?=$this->getContactSchool()?><br />
<strong>Adres school:</strong> <?=$this->getContactSchoolAddress()?><br />
<strong>Telefoon school:</strong> <?=$this->getContactSchoolPhone()?><br />
<strong>E-mail school:</strong> <?=$this->getContactSchoolEmail()?><br />
<br />
<strong>Contact persoon:</strong> <?=$this->getContactName()?><br />
<strong>Telefoon nummer:</strong> <?=$this->getContactPhone()?><br />
<strong>Email adres:</strong> <?=$this->getContactEmail()?><br />
<br />
<strong>Schoolgroep:</strong> <?=$this->getGroupClass()?><br />
<strong>Aantal leerlingen:</strong> <?=$this->getGroupChildren()?><br />
<strong>Aantal volwassenen:</strong> <?=$this->getGroupAdults()?><br />
<strong>Koffie / Thee voor volwassenen:</strong> <?=($this->getGroupConsume() === true) ? 'Ja' : 'Nee'?><br />
<br />
<strong>Gewenste datum voor bezoek:</strong> <?=$this->getDate()?><br />
<strong>Tijdstip aankomst:</strong> <?=$this->getTimeArrive()?><br />
<strong>Tijdstip vertrek:</strong> <?=$this->getTimeDepart()?><br />
<br />
<strong>Extra opmerkingen:</strong><br />
<?=$this->getExtraInformation()?>