<?php
/**
 * @var OverviewViewInterface $this
 */
use Airhead\Wanda\View\Content\OverviewViewInterface;

assert($this instanceof OverviewViewInterface);
?>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <div class="actions">
                    <a class="btn btn-xs btn-success" href="<?=$this->getAddContentUrl()?>">
                        <i class="glyphicon glyphicon-plus"></i> Add content
                    </a>
                </div>
            </header>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-striped sorted-table">
                        <thead>
                            <tr>
                                <th class="hidden-xs">#</th>
                                <th>Title</th>
                                <th>Publisher</th>
                                <th class="hidden-xs">Created</th>
                                <th class="hidden-xs">Last updated</th>
                                <th class="text-center">Published</th>
                                <th class="width-150"></th>
                            </tr>
                        </thead>
                        <tbody><?=$this->getContentRows()?></tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="public/lib/jquery.sortable/jquery.sortable.js"></script>
<script type="text/javascript">
    // Sortable rows
    var group = $('.sorted-table').sortable({
        containerSelector: 'table',
        itemPath: '> tbody',
        itemSelector: 'tr',
        placeholder: '<tr class="placeholder"/>',
        serialize: function ($parent, $children, parentIsContainer) {
            var result = $.extend({}, {id:$parent.data('id')});
            if(parentIsContainer)
                return $children
            else if ($children[0])
                result.children = $children
            return result

        },
        onDrop: function ($item, container, _super) {
            $.ajax({
                method: "POST",
                url: "<?=$this->getSortContentUrl()?>",
                data: {"sortOrder":group.sortable("serialize").get()}
            }).done(function( msg ) {
                console.log(msg)
            });

            _super($item, container);
        }
    });
</script>