<?php
/**
 * @var FormViewInterface $this
 */
use Airhead\Wanda\View\User\FormViewInterface;

assert($this instanceof FormViewInterface);
?>
<form id="user-form" novalidate="novalidate" method="post"
      data-parsley-priority-enabled="false">
    <div class="row">
        <div class="col-lg-8">
            <?=$this->getValidation()?>
            <section class="widget form-horizontal">
                <header>
                    <h4><i class="fa fa-user"></i> Account Profile <small>Create new or edit existing user</small></h4>
                </header>
                <div class="body">
                    <?php if ($this->hasUserData() === true) : ?>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="text-align-center">
                                <img class="img-circle" src="<?=$this->getUserAvatar(112)?>" style="height: 112px;">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h3 class="mt-sm mb-xs"><?=$this->getFormNameValue()?></h3>
                            <address>
                                E-mail: <a href="mailto:<?=$this->getFormEmailValue()?>">
                                    <?=$this->getFormEmailValue()?>
                                </a>
                            </address>
                        </div>
                    </div>
                    <?php endif; ?>
                    <fieldset class="mt-sm">
                        <legend>Account Form <small>Make sure all the information is correct!</small></legend>
                    </fieldset>
                    <fieldset>
                        <legend class="section">Info</legend>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="name">
                                Username <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input id="name" type="text" required="required" name="username"
                                       value="<?=$this->getFormUsernameValue()?>"
                                       class="form-control input-transparent">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="name">
                                Full name <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input id="name" type="text" required="required" name="name"
                                       value="<?=$this->getFormNameValue()?>"
                                       class="form-control input-transparent">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">
                                Email <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input id="email" type="email" required="required" name="email"
                                       value="<?=$this->getFormEmailValue()?>"
                                       class="form-control input-transparent">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <a href="<?=$this->getOverviewUrl()?>" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="widget">
                <header>
                    <h4><i class="fa fa-cogs"></i> Account settings <small>important stuff</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <div class="form-group">
                            <label for="role" class="control-label col-sm-4">Role</label>
                            <div class="col-sm-8">
                                <select id="article-status" name="id_user_role" data-style="btn-success"
                                        data-width="auto"
                                        class="selectpicker">
                                    <?php foreach ($this->getRoles() as $roleId => $roleName) : ?>
                                    <option value="<?=$roleId?>"<?=($this->getFormRoleValue() === $roleId)?' selected':''?>>
                                        <?=$roleName?>
                                    </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <?php if ($this->hasUserData() === true) : ?>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <input type="checkbox" id="reset-password" name="reset_password" value="1"
                                           <?=($this->getFormResetPasswordValue() === true)?' checked':''?>
                                    >
                                    <label class="checkbox" for="reset-password">
                                        Request password change
                                    </label>
                                </div>
                            </div>
                        </div>
                        <?php endif; ?>
                    </fieldset>
                </div>
            </section>
        </div>
    </div>
</form>

<!-- page specific scripts -->
<!-- page libs -->
<script src="public/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="public/lib/select2/select2.min.js"></script>
<script src="public/lib/parsleyjs/dist/parsley.min.js"></script>

<!-- page application js -->
<script src="public/js/forms-account.js"></script>