<?php
/**
 * @var TableRowViewInterface|OverviewActionInterface $this
 */
use Airhead\Wanda\View\OverviewActionInterface;
use Airhead\Wanda\View\User\TableRowViewInterface;

assert($this instanceof TableRowViewInterface);
assert($this instanceof OverviewActionInterface);
?>
<tr>
    <td class="hidden-xs">#<?=$this->getUserId()?></td>
    <td><?=$this->getUserName()?></td>
    <td class="hidden-xs"><?=$this->getUserUsername()?></td>
    <td><?=$this->getUserEmail()?></td>
    <td class="text-center">
        <?php if ($this->isUserAdmin() === true) : ?>
            <span class="fa fa-check text-success"></span>
        <?php else : ?>
            <span class="fa fa-times text-danger"></span>
        <?php endif; ?>
    </td>
    <td class="width-150">
        <?php if ($this->isAllowedToEdit() === true) : ?>
        <a href="<?=$this->getEditUrl()?>" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span></a>
        <?php endif; ?>
        <?php if ($this->isAllowedToDelete() === true) : ?>
        <a data-href="<?=$this->getDeleteUrl()?>" class="btn btn-danger btn-xs"
           data-toggle="modal" data-target="#confirm-delete"
        >
            <span class="fa fa-trash"></span>
        </a>
        <?php endif; ?>
    </td>
</tr>