<?php
use Airhead\Wanda\View\Module\Calendar\CalendarViewInterface;
/**
 * @var CalendarViewInterface $this
 */
assert($this instanceof CalendarViewInterface);
?>
<div id="calendar-container">
    <table class="table table-condensed">
        <thead>
            <?= $this->getHeader() ?>
        </thead>
        <tbody>
            <?= $this->getCalendar() ?>
        </tbody>
    </table>
</div>
