<?php
use Airhead\Wanda\View\Module\Calendar\DayViewInterface;
/**
 * @var DayViewInterface $this
 */
assert($this instanceof DayViewInterface);

$classArray = [];
$classArray[] = ($this->isToday() === true) ? 'active' : 'btn-default';
if ($this->isScheduled() === true) {
    $classArray[] = 'btn-success';
}
if ($this->isReserved() === true) {
    $classArray[] = 'btn-info';
}
if ($this->isBooked() === true) {
    $classArray[] = 'btn-warning';
}
?>
<td class="<?= ($this->isEmptyDay() === true) ? 'inactive' : '' ?>">
    <?php if ($this->isEmptyDay() === false) : ?>
        <a class="day btn btn-sm btn-block <?= implode(' ', $classArray) ?>"
            data-date="<?= $this->getDate('d-m-Y') ?>"
            <?= ($this->isAvailable() === false) ? 'disabled="disabled"' : 'data-trigger="day-form"' ?>
        >
            <?= $this->getContent() ?>
        </a>
    <?php endif; ?>
</td>
