<?php
use Airhead\Wanda\View\Module\Calendar\FormDayViewInterface;
/**
 * @var FormDayViewInterface $this
 */
assert($this instanceof FormDayViewInterface);
?>
<div class="col-md-4">
    <section class="widget">
        <header>
            <h4>Datum <small><?=$this->getDate()?></small></h4>
        </header>
        <div class="body">
            <form role="form" id="form-calendar" method="post" novalidate="novalidate">
                <input type="hidden" name="date" value="<?=$this->getDate()?>" />
                <input type="hidden" name="id" value="<?=$this->getCalendarId()?>" />
                <fieldset>
                    <?=$this->getVolunteers()?>
                </fieldset>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn btn-success">Opslaan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<script type="text/javascript">
    $('#form-calendar').on('submit', function(e) {
        e.preventDefault();

        var dayFormContainer = $('#day-form'),
            dayNoticeContainer = dayFormContainer.children();

        $('#day-form-notice').remove();

        $.ajax({
            url: "<?=$this->getFormAjaxUrl()?>",
            data: $('#form-calendar').serialize(),
            beforeSend: function( ) {
                dayFormContainer.css('opacity', '0.5');
            }
        }).done(function( data ) {
            if (data.status === 'success') {
                var dateBtn = $('a[data-date="'+data.feedback.date+'"]');

                if (data.feedback.action === 'remove') {
                    dateBtn.removeClass('btn-success');
                    dayNoticeContainer.prepend('<div id="day-form-notice" class="alert alert-success alert-dismissible">Datum is verwijderd</div>');
                } else {
                    dateBtn.addClass('btn-success');
                    dayNoticeContainer.prepend('<div id="day-form-notice" class="alert alert-success alert-dismissible">Datum is opgeslagen</div>');
                }
            } else {
                dayNoticeContainer.prepend('<div id="day-form-notice" class="alert alert-warning alert-dismissible">'+data.feedback+'</div>');
            }

            dayFormContainer.css('opacity', '1');
        });
    });
</script>
