<?php
use Airhead\Wanda\View\Module\Calendar\VolunteerCheckViewInterface;
/**
 * @var VolunteerCheckViewInterface $this
 */
assert($this instanceof VolunteerCheckViewInterface);
?>
<div class="form-group col-sm-6">
    <div class="">
        <div class="checkbox">
            <input type="checkbox" id="volunteer_<?=$this->getVolunteerId()?>" name="volunteers[]"
                   <?=($this->isChecked() === true) ? 'checked' : ''?>
                   value="<?=$this->getVolunteerId()?>"
            >
            <label class="checkbox" for="volunteer_<?=$this->getVolunteerId()?>">
                <?=$this->getVolunteerName()?> <p><?=$this->getVolunteerPreferredDays()?></p>
            </label>
        </div>
    </div>
</div>
