<?php
use Airhead\Wanda\View\Module\Calendar\NavigationViewInterface;
/**
 * @var NavigationViewInterface $this
 */
assert($this instanceof NavigationViewInterface);
?>
<div class="text-center">
    <div class="form-group">
        <label for="select-month">Selecteer een maand</label>
        <select class="form-control" id="select-month" name="select-month">
            <?php foreach ($this->getMonthSelectOptions() as $date => $label) : ?>
                <option value="<?= $date ?>"<?= ($date===date('Y-m')) ? ' selected' : '' ; ?>>
                    <?= ucfirst($label) ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
</div>