<?php
/**
 * @var OverviewViewInterface $this
 */

use Airhead\Wanda\View\Module\Calendar\OverviewViewInterface;

assert($this instanceof OverviewViewInterface);
?>
<div class="row">
    <div class="col-md-4">
        <section class="widget">
            <div class="body">
                <?=$this->getCalendar()?>
            </div>
        </section>
    </div>
    <div id="day-form"></div>
</div>
<script type="text/javascript">
    var calendarContainer = $('#calendar-container'),
        dayFormContainer = $('#day-form');
    createTriggers();
    $('#select-month').on('change', function () {
        var date = $(this).val().split('-');

        $.ajax({
            url: "<?=$this->getCalendarAjaxUrl()?>",
            data: {'month': date[1], 'year': date[0]},
            beforeSend: function( ) {
                calendarContainer.css('opacity', '0.5');
            }
        }).done(function( data ) {
            calendarContainer.html(data.feedback).css('opacity', '1');
            createTriggers();
        });
    });

    function createTriggers() {
        $('a[data-trigger="day-form"]').on('click', function () {
            var date = $(this).data('date');

            $.ajax({
                url: "<?=$this->getFormAjaxUrl()?>",
                data: {'date': date},
                beforeSend: function( ) {
                    dayFormContainer.css('opacity', '0.5');
                }
            }).done(function( data ) {
                dayFormContainer.html(data.feedback).css('opacity', '1');
            });
        });
    }
</script>
