<?php
use Airhead\Cosmo\View\IndexViewInterface;
/**
 * @var IndexViewInterface $this
 */
assert($this instanceof IndexViewInterface);
?>
<!DOCTYPE html>
<html>
<head>
    <title>Ijzertijd planner</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="row header-logo">
        <div class="col-lg-12 text-center">
            <img src="public/img/logo.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <?=$this->getCalendar()?>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p>
                <strong>LET OP:</strong> Met deze kalender kunnen zich alleen schoolgroepen 5 en 6 van het (reguliere)
                basisschool zich aanmelden. Het aantal kinderen waaruit een groep mag bestaan is beperkt tot
                maximaal 32 leerlingen.
            </p>
            <p>
                Alle andere groepen (bijvoorbeeld schoolgroepen 7 en 8, buitenschoolse opvang, scoutinggroepen
                en groepen uit het speciaal onderwijs) kunnen zich aanmelden via de mail:
                <a href="mailto:planning@ijzertijdboerderij.nl">planning@ijzertijdboerderij.nl</a> waarna wij bekijken of
                wij hen kunnen ontvangen. De mogelijkheden voor deze groepen zijn echter beperkt.
            </p>
            <p><strong>Legenda</strong></p>
            <div class="day btn btn-sm btn-default" disabled="disabled">##</div> Datum niet beschikbaar<br />
            <div class="day btn btn-sm btn-default btn-success">##</div> Datum beschikbaar<br />
            <div class="day btn btn-sm btn-default btn-info" disabled="disabled">##</div> Datum gereserveerd en nog niet bevestigd<br />
            <div class="day btn btn-sm btn-default btn-warning" disabled="disabled">##</div> Datum gereserveerd en bevestigd
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="scheduleLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="<?=$this->getFormAjaxUrl()?>" method="post" id="register-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="scheduleLabel">Aanmelden schoolbezoek</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-notification"></div>
                    <input type="hidden" name="date" value="" />
                    <fieldset>
                        <legend>School gegevens</legend>
                        <div class="form-group col-sm-6">
                            <label for="group">Naam school *</label>
                            <input type="text" class="form-control" id="school" name="school" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="address">Adres *</label>
                            <input type="text" class="form-control" id="address" name="address" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="email_school">Email adres *</label>
                            <input type="email" class="form-control" id="email_school" name="email_school" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="phone_school">Telefoon nummer *</label>
                            <input type="text" class="form-control" id="phone_school" name="phone_school" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Contactpersoon gegevens</legend>
                        <div class="form-group col-sm-6">
                            <label for="name">Contactpersoon*</label>
                            <input type="text" class="form-control" id="name" name="name" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="email">Email adres *</label>
                            <input type="email" class="form-control" id="email" name="email" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="phone">Telefoon nummer *</label>
                            <input type="text" class="form-control" id="phone" name="phone" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Groep gegevens</legend>
                        <div class="form-group col-sm-6">
                            <label for="class">School groep *</label>
                            <select class="form-control" name="class" id="class">
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="5/6">5/6</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="num_kids">Aantal leerlingen *</label>
                            <input type="text" class="form-control" id="num_kids" name="num_kids" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="num_adults">Aantal volwassenen (leerkrachten en ouders) *</label>
                            <input type="text" class="form-control" id="num_adults" name="num_adults" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Koffie/Thee voor de volwassenen (&euro; 1 p.p.)? *</label>
                            <div class="form-control">
                                <label class="radio-inline">
                                    <input type="radio" name="consume" value="0" checked> Nee
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="consume" value="1"> Ja
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Tijdstip</legend>
                        <p>De schoolbezoeken vinden plaats tussen 9:00 en 13:00 uur.</p>
                        <div class="form-group col-sm-6">
                            <label for="time_arrive">Tijstip aankomst *</label>
                            <input type="text" class="form-control" id="time_arrive" name="time_arrive" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="time_depart">Tijdstip vertrek *</label>
                            <input type="text" class="form-control" id="time_depart" name="time_depart" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Extra</legend>
                        <div class="form-group col-sm-12">
                            <label for="information">Extra opmerkingen</label>
                            <textarea id="information" class="form-control" name="information"></textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    <input type="submit" class="btn btn-primary" value="Bevestigen" />
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="public/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="public/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#schedule').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var date = button.data('date');
        var modal = $(this)

        modal.find('input[name="date"]').val(date);
        modal.find('.modal-title').text('School groep aanmelden voor ' + date);

        $('#modal-notification').html('');
    });

    $('#select-month').on('change', function () {
        var date = $(this).val().split('-');
        $.ajax({
            url: "<?=$this->getCalendarAjaxUrl()?>",
            data: {'month': date[1], 'year': date[0]},
            beforeSend: function( ) {
                $('#calendar-container').css('opacity', '0.5');
            }
        }).done(function( data ) {
            $('#calendar-container').html(data.feedback).css('opacity', '1');
        });
    });

    var registerForm = $('#register-form').on('submit', function (e) {
        e.preventDefault();

        $.ajax({
            url: registerForm.attr('action'),
            method: registerForm.attr('method'),
            data: registerForm.serialize(),
            beforeSend: function( ) {
                registerForm.css('opacity', '0.5');
                $('#modal-notification').html('');
                $('#calendar-container').css('opacity', '0.5');
            }
        }).done(function( data ) {
            if (data.status === 'success') {
                registerForm[0].reset();
                $('div[data-date="'+$('input[name="date"]').val()+'"]').addClass('btn-info').attr('disabled', true);
            }

            registerForm.css('opacity', '1');
            $('#calendar-container').css('opacity', '1');
            $('#modal-notification').html(data.feedback.notification);

            $('#schedule').animate({ scrollTop: 0 }, 'slow');
        });
    });
</script>
</body>
</html>