<?php
use Airhead\Cosmo\View\LabelViewInterface;
/**
 * @var LabelViewInterface $this
 */
assert($this instanceof LabelViewInterface);
?>
<tr>
    <?php foreach ($this->getLabels() as $label) : ?>
        <th class="text-center">
            <?= $label ?>
        </th>
    <?php endforeach; ?>
</tr>
