<?php
/**
 * @var NotificationViewInterface $this
 */
use Airhead\Cosmo\View\NotificationViewInterface;

assert($this instanceof NotificationViewInterface);
?>
<div class="alert alert-<?=$this->getType()?> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <?php if (count($this->getMessages()) > 1) : ?>
        <ul><li><?=implode('</li><li>', $this->getMessages())?></li></ul>
    <?php else : ?>
        <?=reset($this->getMessages())?>
    <?php endif; ?>
</div>
