<?php
/**
 * @var LeftNavViewInterface $this
 */

use Airhead\Wanda\View\Navigation\LeftNavViewInterface;

assert($this instanceof LeftNavViewInterface);
?>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="<?=$this->getDashboardUrl()?>"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <?php if ($this->hasContentTypes() === true) : ?>
            <li class="panel">
                <a class="accordion-toggle collapsed" data-toggle="collapse"
                   data-parent="#side-nav" href="#content-collapse"><i class="fa fa-file"></i> <span class="name">Content</span></a>
                <ul id="content-collapse" class="panel-collapse collapse ">
                    <li><a href="<?=$this->getContentOverviewUrl('content')?>">General</a></li>
                    <li><a href="<?=$this->getContentOverviewUrl('news')?>">News</a></li>
                    <li><a href="<?=$this->getContentOverviewUrl('streamer')?>">Streamers</a></li>
                    <li><a href="<?=$this->getContentOverviewUrl('sponsor')?>">Sponsors</a></li>
                </ul>
            </li>
        <?php endif; ?>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#modules-collapse"><i class="fa fa-server"></i> <span class="name">Modules</span></a>
            <ul id="modules-collapse" class="panel-collapse collapse">
                <li class=""><a href="<?=$this->getModuleUrl('agenda')?>">Aanmeldingen</a></li>
                <li class=""><a href="<?=$this->getModuleUrl('calendar')?>">Calender</a></li>
                <li class=""><a href="<?=$this->getModuleUrl('volunteer')?>">Vrijwilligers</a></li>
            </ul>
        </li>
        <?php if ($this->isRootUser() === true) : ?>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#users-collapse"><i class="fa fa-users"></i> <span class="name">Gebruikers</span></a>
            <ul id="users-collapse" class="panel-collapse collapse ">
                <li class=""><a href="<?=$this->getUserOverviewUrl()?>">Gebruikers</a></li>
                <!--<li class=""><a href="form_article.html">Roles</a></li>-->
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#config-collapse"><i class="fa fa-cog"></i> <span class="name">Config</span></a>
            <ul id="config-collapse" class="panel-collapse collapse ">
                <li class=""><a href="<?=$this->getContentTypeOverviewUrl()?>">Content types</a></li>
            </ul>
        </li>
        <?php endif; ?>
        <li class="visible-xs">
            <a href="<?=$this->getLogoutUrl()?>"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
</nav>