<?php
/**
 * @var FormViewInterface $this
 */
use Airhead\Wanda\View\Module\Volunteer\FormViewInterface;

assert($this instanceof FormViewInterface);
?>
<form role="form" id="article-form" method="post" novalidate="novalidate">
    <div class="row">
        <div class="col-lg-4">
            <?=$this->getValidation()?>
            <section class="widget">
                <header>
                    <h4>Contact gegevens <small>wel benaderbaar blijven</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Naam</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-transparent" name="name"
                                           value="<?=$this->getName()?>"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Email</div>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control input-transparent" name="email"
                                           value="<?=$this->getEmail()?>"
                                    >
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="widget">
                <header>
                    <h4>Dagen <small>wanneer wel en niet</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="monday" class="control-label col-sm-4">Maandag</label>
                                <div class="col-sm-8">
                                    <select id="monday" name="preferred_days[MA]"
                                            data-style="btn-<?=($this->getAvailableMonday() === true)?'success':'danger'?>"
                                            data-width="auto"
                                            class="selectpicker">
                                        <option value="0"<?=($this->getAvailableMonday() === false)?' selected':''?>>Nee</option>
                                        <option value="1"<?=($this->getAvailableMonday() === true)?' selected':''?>>Ja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tuesday" class="control-label col-sm-4">Dinsdag</label>
                                <div class="col-sm-8">
                                    <select id="tuesday" name="preferred_days[DI]"
                                            data-style="btn-<?=($this->getAvailableTuesday() === true)?'success':'danger'?>"
                                            data-width="auto"
                                            class="selectpicker">
                                        <option value="0"<?=($this->getAvailableTuesday() === false)?' selected':''?>>Nee</option>
                                        <option value="1"<?=($this->getAvailableTuesday() === true)?' selected':''?>>Ja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wednesday" class="control-label col-sm-4">Woensdag</label>
                                <div class="col-sm-8">
                                    <select id="wednesday" name="preferred_days[WO]"
                                            data-style="btn-<?=($this->getAvailableWednesday() === true)?'success':'danger'?>"
                                            data-width="auto"
                                            class="selectpicker">
                                        <option value="0"<?=($this->getAvailableWednesday() === false)?' selected':''?>>Nee</option>
                                        <option value="1"<?=($this->getAvailableWednesday() === true)?' selected':''?>>Ja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="thursday" class="control-label col-sm-4">Donderdag</label>
                                <div class="col-sm-8">
                                    <select id="thursday" name="preferred_days[DO]"
                                            data-style="btn-<?=($this->getAvailableThursday() === true)?'success':'danger'?>"
                                            data-width="auto"
                                            class="selectpicker">
                                        <option value="0"<?=($this->getAvailableThursday() === false)?' selected':''?>>Nee</option>
                                        <option value="1"<?=($this->getAvailableThursday() === true)?' selected':''?>>Ja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="friday" class="control-label col-sm-4">Vrijdag</label>
                                <div class="col-sm-8">
                                    <select id="friday" name="preferred_days[VR]"
                                            data-style="btn-<?=($this->getAvailableFriday() === true)?'success':'danger'?>"
                                            data-width="auto"
                                            class="selectpicker">
                                        <option value="0"<?=($this->getAvailableFriday() === false)?' selected':''?>>Nee</option>
                                        <option value="1"<?=($this->getAvailableFriday() === true)?' selected':''?>>Ja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="saturday" class="control-label col-sm-4">Zaterdag</label>
                                <div class="col-sm-8">
                                    <select id="saturday" name="preferred_days[ZA]"
                                            data-style="btn-<?=($this->getAvailableSaturday() === true)?'success':'danger'?>"
                                            data-width="auto"
                                            class="selectpicker">
                                        <option value="0"<?=($this->getAvailableSaturday() === false)?' selected':''?>>Nee</option>
                                        <option value="1"<?=($this->getAvailableSaturday() === true)?' selected':''?>>Ja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sunday" class="control-label col-sm-4">Zondag</label>
                                <div class="col-sm-8">
                                    <select id="sunday" name="preferred_days[ZO]"
                                            data-style="btn-<?=($this->getAvailableSunday() === true)?'success':'danger'?>"
                                            data-width="auto"
                                            class="selectpicker">
                                        <option value="0"<?=($this->getAvailableSunday() === false)?' selected':''?>>Nee</option>
                                        <option value="1"<?=($this->getAvailableSunday() === true)?' selected':''?>>Ja</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn btn-success">Opslaan</button>
                                    <a href="<?=$this->getOverviewUrl()?>" class="btn btn-default">Terug</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>

<!-- page specific scripts -->
<!-- page libs -->
<script src="public/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="public/lib/select2/select2.min.js"></script>

<!-- page application js -->
<script src="public/js/forms-article.js"></script>