<?php
/**
 * @var TableRowViewInterface|OverviewActionInterface $this
 */
use Airhead\Wanda\View\OverviewActionInterface;
use Airhead\Wanda\View\Module\Volunteer\TableRowViewInterface;

assert($this instanceof TableRowViewInterface);
assert($this instanceof OverviewActionInterface);
?>
<tr>
    <td><?=$this->getName()?></td>
    <td><?=$this->getEmail()?></td>
    <td><?=$this->getPreferredDays()?></td>
    <td class="width-150">
        <a href="<?=$this->getEditUrl()?>" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span></a>
        <a data-href="<?=$this->getDeleteUrl()?>" class="btn btn-danger btn-xs"
           data-toggle="modal" data-target="#confirm-delete"
        >
            <span class="fa fa-trash"></span>
        </a>
    </td>
</tr>